body {
    font-family: sans-serif, arial;
}

#head {
    text-align: center;
    color: #4B7089;
    border-bottom: 3px solid rgb(105,146,184);
}
#over {
    position: relative;
    left: 50px;
    color: #4F74A3;
    padding-bottom: 20px;
    
    
}

#btn {
    position: relative;
    left: 50px;
    border: none;
    padding-right: 80px;
    padding-left: 80px;
    padding-top: 30px;
    padding-bottom: 30px;
    color: #4F74A3;
    font-size: 20px;
}
#btn:hover{
    background-color: rgb(105,146,184);
    padding-right: 85px;
    padding-left: 85px;
    padding-top: 35px;
    padding-bottom: 35px;
}
#para {
    padding-left: 50px;
    color: #4F74A3;
}